


/*Estilos Generales*/
*{font-family: "Oswald", sans-serif}


.logo {
  max-height: 200px; 
  width: auto;
}
.logo-container {
  position: sticky;
  top: 0;
  z-index: 1100;
  background: white;
  padding: 5px;
}



body { padding-top: 0; }
main { margin-top: 120px; } 




h1{color: rgb(245, 133, 211)}
.navbar-nav li {
  background-color: rgb(208, 29, 231);
  border-radius: 5px;
  margin-left: 10px;
}
.navbar-nav .nav-link {
  color: white !important;
  font-weight: bold;
}

form{display: flex;
    flex-direction: column;
    justify-content: space-between;

}
input[type="submit"]{width: 120px; height: 60px}

